$info: #06204b;
$nav-pills-link-active-bg: $info;
$nav-link-color: $info;
$nav-link-hover-color:#010408;
$accordion-button-active-bg: $info;
$dropdown-link-hover-bg: #f8f9fa;
$dropdown-link-active-bg: #e9ecef;
$dropdown-link-active-color: #22252A;

@import '../../../node_modules/bootstrap/scss/bootstrap';
